<article>
  <header>
    <h1></h1>
  </header>
  <section>
    <form action="">
      <div>
        <label for="">

        </label>
        <imput>

        </imput>
      </div>
    </form>
  </section>
</article>

Página 112-113